{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

        <div class="card shadow-sm mt-4">

            <div class="card-header detail-header text-white">
                <h2 class="mb-0">Nueva Feria</h2>
            </div>

            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-detail-feria">
                        Guardar
                    </button>

                    <a href="{% url 'ferias:lista_ferias' %}"
                       class="btn realizada">
                        Cancelar
                    </a>

                </form>

            </div>

        </div>

    </div>
</div>

{% endblock %}