:root {
    --bs-primary: #1a3a5c;
    --bs-primary-rgb: 26, 58, 92;
    --hover-primary: #2d4d72;
    --color-hueso: #fdf6e3;
}

.card {
    background-color: var(--bs-primary);
    border-color: #1a3a5c;
    color: var(--color-hueso);
}

.card:hover {
    background-color: var(--hover-primary) !important;  /* importan para que ignorre estilos de bootstrap*/
    border-color: #142d4a;
    color: var(--color-hueso);
    cursor: pointer;
}