{% extends "base.html" %}

{% block title %}Crear Cuenta — FeriApp{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header detail-header text-white text-center py-3">
                <h3 class="mb-0">Registrarse en FeriApp</h3>
            </div>
            <div class="card-body p-4 d-flex justify-content-between">
                
                <div class=""><a href="{% url 'ferias:registro_emprendedor' %}">Registrarme como Emprendedor</a></div>
                <div><a href="{% url 'ferias:registro_visitante' %}">Registrarme como Visitante</a></div>
            </div>
            <div class="card-footer text-center bg-light py-3">
                <span class="text-muted fs-6">¿Ya tenés una cuenta?</span>
                <a href="{% url 'ferias:login' %}" class="btn btn-sm btn-outline-feria ms-2">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}