{% extends "base.html" %}

{% block title %}Perfil — FeriApp{% endblock %}

{% block content %}
 <div class="row mb-4 mt-4  ">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header">Mis Datos</div>
            <div class="card-body p-0">
              <div class="d-flex justify-content-start align-items-center p-3 border-bottom ">
                <div class="p-4 m-1 card-profile-logo"">JM</div>
                <div>
                <p class="m-2 mb-0" style="font-size:13px; font-weight:500;">Juan Martinez</p>
                <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-muted);">juan@email.com</p>
                   <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-text);">Emprendedor</p>
              </div> 
              </div>
            </div>

             <div class="card-body p-0">
              <div class="d-flex justify-content-start align-items-center p-3 border-bottom ">
                <div class="m-2 ">
                  <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-muted);">Nombre</p>
                   <p class="m-2 mb-0" style="font-size:13px; font-weight:500;">Juan</p>
                    <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-muted);">Email</p>
                   <p class="m-2 mb-0" style="font-size:13px; font-weight:500;">juan@gmail.com</p>
                   
                </div>
                <div class="m-2">
                 <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-muted);">Apellido </p>
                   <p class="m-2 mb-0" style="font-size:13px; font-weight:500;">Martinez</p>
                    <p class="m-2 mb-0" style="font-size:11px; color:var(--ft-muted);">Telefono </p>
                   <p class="m-2 mb-0" style="font-size:13px; font-weight:500;">123456</p>
              </div> 
              </div>
            </div>
          </div>
        </div>

   <div class="row mb-4 mt-4  ">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header">Mis Inscripciones</div>
            <div class="card-body p-0">
              {% for inscripcio in inscripciones %}
                <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
                  <div>
                  <p class="mb-0" style="font-size:13px; font-weight:500;">{{ inscripcion.feria }}</p>
                  <p class="mb-0" style="font-size:11px; color:var(--ft-muted);">{{ inscripcion.feria.fecha_inicio }} — {{ inscripcion.feria.fecha_fin }}</p>
                  </div> 
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        
{% endblock %}